<%= render "shared/navbar" %>
<div class="main my-3 px-5">

<%= render "shared/form", article: @article, class:"py-5" %>
</div>

<%= link_to " back", articles_path, class:"fa-regular fa-circle-left link-underline link-underline-opacity-0 mx-3" %>
